ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.color-picker {
   position: relative;
   border-right: 0.1rem solid $primary;
   width: 12%;
   min-height: 100vh;
   &__brand-container {
      padding-top: 2rem;
      margin-bottom: 5.5rem;
   }

   &__brand {
      text-align: center;
      font-size: 3rem;
      font-family: $secondary-font;
   }

   &__color-list {
      text-align: center;
   }

   &__add-btn {
      position: relative;
      cursor: pointer;
      background: $primary;
      margin: auto;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      color: $icon-color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      z-index: 2;
   }

   &__list {
      display: none;
      position: relative;
      left: 44%;
      z-index: 1;
      margin-top: -5rem;
      li {
         position: absolute;
         cursor: pointer;
         margin: 2rem auto;
         border-radius: 50%;
         width: 2rem;
         height: 2rem;

         &:first-child {
            background: $orange;
            animation: transformOne 0.8s ease-in-out forwards 0.6s;
            z-index: 6;
         }

         &:nth-child(2) {
            background: $pomegranate;
            animation: transformTwo 0.8s ease-in-out forwards 2s;
            z-index: 5;
         }

         &:nth-child(3) {
            background: $amethyst;
            animation: transformThree 0.8s ease-in-out forwards 3s;
            z-index: 4;
         }

         &:nth-child(4) {
            background: $peter-river;
            animation: transformFour 0.8s ease-in-out forwards 4s;
            z-index: 3;
         }

         &:nth-child(5) {
            background: $emerald;
            animation: transformFive 0.8s ease-in-out forwards 5s;
            z-index: 2;
         }

         &:nth-child(6) {
            background: $pink;
            animation: transformSix 0.8s ease-in-out forwards 6s;
            z-index: 1;
         }
      }
   }

   &__clear {
      @include icon($bg: $pomegranate, $col: $primary);
      position: absolute;
      bottom: 3rem;
      right: 6rem;
   }
}

.main {
   min-height: 100vh;
   width: calc(100% - 12%);

   &__search-bar {
      width: 35%;
      position: relative;
      text-align: center;
      margin: 5rem auto;
      i {
         position: absolute;
         left: 1rem;
         font-size: 2rem;
         top: 0.7rem;
      }
   }

   &__search-input {
      width: 100%;
      font-size: 1.6rem;
      padding: 0.4rem 4rem;
      border: none;
      outline: none;
      border-radius: 1rem;
      background: #f9f9f9;
   }

   &__title {
      font-size: 5rem;
      font-family: $secondary-font;
      margin-top: 3rem;
   }

   &__card {
      margin-bottom: 7rem;
      position: relative;
      width: 33rem;
      min-height: 33rem;
      padding: 2rem;
      background: $emerald;
      border-radius: 1.7rem;
      box-shadow: 0.5rem 0.9rem 2rem 0px #adb5bd;
   }

   &__card-title {
      font-family: $secondary-font;
      font-size: 3rem;
      padding-left: 1rem;
   }

   &__info {
      font-size: 1.7rem;
      word-break: break-all;
      margin-top: 2.5rem;
   }

   %edit-check {
      @include icon;
      right: 2rem;
      bottom: 2rem;
   }

   &__edit-icon {
      position: absolute;
      @extend %edit-check;
      z-index: 3;
   }

   &__check-icon {
      @extend %edit-check;
      z-index: 4;
   }

   &__custom {
      position: absolute;
      background: rgb(245, 246, 250);
      width: 30rem;
      height: 30rem;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: inherit;
   }

   &__time {
      // position: absolute;
      top: 2.5rem;
      right: 3rem;
      font-size: 1.6rem;
   }

   &__remove {
      @include icon($bg: $pomegranate, $col: $primary);
      right: 2rem;
      bottom: 2rem;
      z-index: 2;
   }
}
