@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto:wght@300;400;500&display=swap');

html {
   font-size: 62.5%;
}

body {
   display: flex;
   min-height: 100vh;
   font-family: 'Roboto', sans-serif;
   font-weight: map-get($font-weights, 'Regular');
   line-height: 1.7;
}
