@mixin icon($bg: $primary, $dem: 4rem, $col: $icon-color) {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   cursor: pointer;
   border-radius: 50%;
   background: $bg;
   width: $dem;
   height: $dem;
   font-size: 2.3rem;
   position: absolute;
   color: $col;
   i {
      -webkit-transform: translateY(.4rem);
          -ms-transform: translateY(.4rem);
              transform: translateY(.4rem);
   }
}