@mixin icon($bg: $primary, $dem: 4rem, $col: $icon-color) {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-radius: 50%;
   background: $bg;
   width: $dem;
   height: $dem;
   font-size: 2.3rem;
   position: absolute;
   color: $col;
   i {
      transform: translateY(.4rem);
   }
}
