// colors
$primary: rgb(22, 21, 22);
$icon-color: rgb(255, 255, 255);
$orange: rgb(243, 156, 18);
$pomegranate: rgb(231, 76, 60);
$amethyst: rgb(155, 89, 182);
$peter-river: rgb(52, 152, 219);
$emerald: rgb(46, 204, 113);
$pink: rgb(225, 87, 138);

// font
$secondary-font: 'Merienda One', cursive;